


<ion-view title="Analytics">
 <!--Header BAR -->
    <ion-header-bar align-title="center" class="bar-light">
      <div class="buttons">
        <button class="button button-icon icon ion-gear-a" ng-click="doSomething()"></button>
      </div>
      <h1 class="title"></h1>
      <div class="buttons">
        <button class="button button-icon icon ion-person "></button>
      </div>
    </ion-header-bar>



  <ion-content>
    <ion-list>
      <ion-item ng-repeat="friend in friends" type="item-text-wrap" href="#/tab/friend/{{friend.id}}">
        {{friend.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
