
<ion-view title="Analytics" ng-controller="NavController">
 <!-- Header Bar -->

<!-- <ion-nav-buttons side="left">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons> -->

  <!-- Header Bar -->
        <ion-header-bar class="bar-transparent">
          <h1 class="title"></h1>
          <button class="button button-icon icon ion-navicon"></button>
        </ion-header-bar>  

        <ion-content class="has-header">
        <div class="col">
         <!-- top overview -->
            <div class="row">
              <div id="dataView" class="col ">Overview</div>

            </div>
        <!-- middile row -->
            <div class="row">
              <div id="dataView" class="col col-50">Daily Mood</div>
               <div id="dataView" class="col col-50">Daily Mood</div>
            </div>


         <!-- bottom row -->
            <div class="row">
            <div id="dataView" class="col col-33">Media</div>
             <div id="dataView" class="col col-33">Media</div>
            <div id="dataView" class="col col-33">TimeLine</div>
            </div>

            </div>
          
           </ion-content>
      


  <!-- side menu -->

  
 
</ion-view>