
    
<div class="swiper-container">
  <div class="swiper-wrapper">
      <!--First Slide-->
      <div class="swiper-slide slide1 mood-face"> 
        <!-- Any HTML content of the first slide goes here -->
        B
      </div>
      
      <!--Second Slide-->
      <div class="swiper-slide slide2 mood-face">
        <!-- Any HTML content of the second slide goes here -->
        C
      </div>
      
      <!--Third Slide-->
      <div class="swiper-slide slide3 mood-face"> 
        <!-- Any HTML content of the third slide goes here -->
        G
      </div>

      <div class="swiper-slide slide4 mood-face"> 
        <!-- Any HTML content of the third slide goes here -->
        L
      </div>

      <div class="swiper-slide slide5 mood-face"> 
        <!-- Any HTML content of the third slide goes here -->
        2
      </div>

      <div class="swiper-slide slide6 mood-face"> 
        <!-- Any HTML content of the third slide goes here -->
        M
      </div>
      <!--Etc..-->
  </div>
</div>

