/* Empty. Add your own CSS if you like */
.swiper-slide {
  	background-color: #FF9900;
  	border-top: none;
}

.swiper-container {
	background-color: #FFFF00;
}

.slide1 {
	background-color: #FFFF00;
}

.slide2 {
	background-color: #FFFF00;
}

.slide3 {
	background-color: #FFFF00;
}

.slide4 {
	background-color: #FFFF00;
}

.slide5 {
	background-color: #FFFF00;
}

.slide6 {
	background-color: #FFFF00;
}

@font-face {
    font-family: moodFont;
    src: url(../fonts/YolksEmoticons.otf) format("opentype");
}

.mood-face {
	text-align: center;
	vertical-align: middle;
	font-family: moodFont;
	padding-top: 55%;
	display: inline-block;
	font-size: 200pt;
}

.gauge-container {
  text-align: center;
}

.centered {
  text-align: center;
}

